[submodule "ext/restinio"]
	path = ext/restinio
	url = https://github.com/Stiffstream/restinio.git
[submodule "ext/hash-library"]
	path = ext/hash-library
	url = https://github.com/oschonrock/hash-library.git
[submodule "ext/shunit2"]
	path = ext/shunit2
	url = https://github.com/kward/shunit2
