[submodule "ext/restinio"]
	path = ext/restinio
	url = https://github.com/Stiffstream/restinio.git
[submodule "ext/CLI11"]
	path = ext/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "ext/hash-library"]
	path = ext/hash-library
	url = https://github.com/oschonrock/hash-library.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ext/shunit2"]
	path = ext/shunit2
	url = https://github.com/kward/shunit2
[submodule "ext/binfuse"]
	path = ext/binfuse
	url = https://github.com/oschonrock/binfuse.git
